@model IEnumerable<Lendee.Core.Domain.Model.LegalEntity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Adresář</h1>

<table class="table table-sm">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Company</th>
        <th>Phone</th>
        <th></th>
    </tr>
    @foreach (var entity in Model)
    {
        <tr>
            <td>#@entity.Id</td>
            <td>@entity.FirstName @entity.LastName</td>
            <td>@entity.CompanyName</td>
            <td>@entity.PhoneNumber</td>
            <td>
                <a asp-action="Edit" asp-route-id="@entity.Id">
                    upravit
                </a>
            </td>
        </tr>
    }
</table>
<a asp-action="Create" class="btn btn-primary">Nový záznam</a>