@model Lendee.Web.Features.Contract.RepaymentCalculatorController.CreditViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Interest Calculator</h1>
<form method="post">

    <div class="form-group row">
        <label asp-for="Amount" class="col-sm-2 col-form-label">Amount</label>
        <input class="form-control" asp-for="Amount" type="number" />
    </div>

    <div class="form-group row">
        <label asp-for="InterestRate" class="col-sm-2 col-form-label">Interest Rate (%)</label>
        <input class="form-control" asp-for="InterestRate" type="number" step="0.01" />
    </div>

    <div class="form-group row">
        <label asp-for="PaymentsCount" class="col-sm-2 col-form-label">Payments Count</label>
        <input class="form-control" asp-for="PaymentsCount" type="number" />
    </div>

    @if (Model.Payments.Any())
    {
<table class="table table-sm">
    <tr>
        <th>#</th>
        <th>Total Debt</th>
        <th>Payment</th>
        <th>Interest</th>
        <th>Debt</th>
    </tr>
    @for (int i = 1; i <= Model.Payments.Count; i++)
    {
        <tr>
            <td>@i.ToString()</td>
            <td>
                @Model.Payments[i - 1].TotalDebt.ToString()
            </td>
            <td>
                @Model.Payments[i - 1].Payment.ToString()
            </td>
            <td>
                @Model.Payments[i - 1].Interest.ToString()
            </td>
            <td>
                @Model.Payments[i - 1].Debt.ToString()
            </td>
        </tr>
    }
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td>@Model.Payments.Sum(x=>x.Payment)</td>
            <td>@Model.Payments.Sum(x => x.Interest)</td>
            <td>@Model.Payments.Sum(x => x.Debt)</td>
        </tr>
    </tfoot>
</table>
    }

    <input class="btn btn-primary" type="submit" value="Calculate" />
</form>