@model Lendee.Web.Features.Contract.RentViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Rent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rent</h1>

<form method="post" asp-route-contractId="@Model.ContractId">

    <input type="hidden" asp-for="ContractId" />

    <div class="form-group row">
        <label asp-for="ValidFrom" class="col-sm-2 col-form-label">Platnost od:</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="ValidFrom" type="date" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="ValidUntil" class="col-sm-2 col-form-label">Platnost do:</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="ValidUntil" type="date" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">@Localizer["Payment Term"]</label>
        <div class="btn-group btn-group-toggle col-sm-4" data-toggle="buttons">
            <label class="btn btn-secondary @(Model.PaymentTermType == Lendee.Core.Domain.Model.PaymentTermType.Monthly ? "active" : "")">
                <input type="radio" autocomplete="off" asp-for="PaymentTermType" value="@Lendee.Core.Domain.Model.PaymentTermType.Monthly"> Monthly
            </label>
            <label class="btn btn-secondary @(Model.PaymentTermType == Lendee.Core.Domain.Model.PaymentTermType.Custom ? "active" : "")">
                <input type="radio" autocomplete="off" asp-for="PaymentTermType" value="@Lendee.Core.Domain.Model.PaymentTermType.Custom"> Custom
            </label>
        </div>
    </div>

    <div class="form-group row" id="rentType">
        <label class="col-sm-2 col-form-label">Rent Type</label>
        <div class="btn-group btn-group-toggle col-sm-4" data-toggle="buttons">
            <label class="btn btn-secondary @(Model.RentType == Lendee.Core.Domain.Model.RentType.PureRent ? "active" : "")">
                <input type="radio" autocomplete="off" asp-for="RentType" value="@Lendee.Core.Domain.Model.RentType.PureRent"> Rent
            </label>
            <label class="btn btn-secondary @(Model.RentType == Lendee.Core.Domain.Model.RentType.CombinedRent ? "active" : "")">
                <input type="radio" autocomplete="off" asp-for="RentType" value="@Lendee.Core.Domain.Model.RentType.CombinedRent"> Rent & Fees
            </label>
            <label class="btn btn-secondary @(Model.RentType == Lendee.Core.Domain.Model.RentType.VariableRent ? "active" : "")">
                <input type="radio" autocomplete="off" asp-for="RentType" value="@Lendee.Core.Domain.Model.RentType.VariableRent"> Other
            </label>
        </div>
    </div>

    <div class="form-group row .d-none paymentAmount rent">
        <label asp-for="PaymentAmount" class="col-sm-2 col-form-label">Rent Amount:</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="PaymentAmount" type="number" />
        </div>
    </div>

    <div class="form-group row .d-none paymentAmount fee">
        <label asp-for="Fee" class="col-sm-2 col-form-label">Fees:</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Fee" type="number" />
        </div>
    </div>

    <div class="form-group row .d-none paymentAmount normalizedFee">
        <label asp-for="Fee" class="col-sm-2 col-form-label">Normalized Fee:</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="NormalizedFee" type="number" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Day" class="col-sm-2 col-form-label">Splatnost do dne:</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Day" type="number" min="1" max="28" step="1" />
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary form-control">Uložit</button>
        </div>
    </div>
</form>

@section Scripts{
    <script type="text/javascript">
        function switchRent(rentType) {
            switch (rentType) {
                case "PureRent": $(".rent").show(); $(".fee").hide(); $(".normalizedFee").hide(); break;
                case "CombinedRent": $(".rent").show(); $(".fee").show(); $(".normalizedFee").hide(); break;
                case "VariableRent": $(".rent").hide(); $(".fee").hide(); $(".normalizedFee").show(); break;
                default: $(".paymentAmount").hide();
            }
        }

        $('#rentType :input').change(function (obj) {
            var rentType = obj.target.value;
            switchRent(rentType);
        });

        $(function () {
            var l = $("#rentType label.active");
            if (l != undefined) {
                var rentType = l.children().val();
                switchRent(rentType);
            }
        })
    </script>
}