@model IEnumerable<Lendee.Core.Domain.Model.Contract>
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Nástěnka</h1>

<ul>
    <li>
        <a asp-controller="Entities" asp-action="List">@Localizer["Entities"]</a>
    </li>
    <li>
        <a asp-controller="ContractBuilder" asp-action="Create">@Localizer["New Contract"] </a>
    </li>
    <li>
        <a asp-controller="Contracts" asp-action="List">@Localizer["Contracts"] </a>
    </li>
    <li>
        <a asp-controller="Payments" asp-action="List">@Localizer["Payments"] </a>
    </li>
</ul>

<table class="table table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Typ</th>
            <th>Nazev</th>
            <th>Detail</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var contract in Model)
        {
            <tr>
                <td>@contract.Id</td>
                <td>@contract.Type</td>
                <td>@contract.Name</td>
                <td>Detail</td>
            </tr>
        }
    </tbody>
</table>